.large-8.columns
  %h3 DESCRIPTION
  %p= @report.description
.large-4.columns
  .panel
    %p
      =image_tag(@report.image.url)
    %p
      %strong Sex:
      = @report.sex
    %p
      %strong Age:
      = @report.age
    %p
      %strong Height:
      = @report.height
    %p
      %strong Contexture:
      = @report.contexture
    %p
      %strong Skin:
      = @report.skin
    %hr
    -if @report.medical == true
      %span.alert.label NEEDS MEDICAL CARE
      %p
        %strong Medical Details
        = @report.med_detail
    -else
      %span.success.label HEALTHY PERSON
    %hr
    %p
      %strong Last seen at:
      = @report.address
    %hr
    -if @report.status == 'Found'
      %a.button.expand I RECOGNIZE HIM/HER !
    -elsif @report.status == 'Lost'
      %a.button.expand I SAW HIM/HERl !