.large-8.columns
  %h3 DESCRIPTION
  %p= @report.description
.large-4.columns
  .panel
    %p
      =image_tag(@report.image.url)
    %p
      %strong Species:
      = @report.raza
    %p
      %strong Sex:
      = @report.sex
    %p
      %strong Age:
      = @report.age
    %p
      %strong Size:
      = @report.size
    %p
      %strong Race:
      = @report.skin
    %hr
    %p
      %strong Last seen at:
      = @report.address