<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @report.status %>
</p>

<p>
  <strong>Type:</strong>
  <%= @report.item_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @report.description %>
</p>

<p>
  <strong>Age:</strong>
  <%= @report.age %>
</p>

<p>
  <strong>Size:</strong>
  <%= @report.size %>
</p>

<p>
  <strong>Height:</strong>
  <%= @report.height %>
</p>

<p>
  <strong>Contexture:</strong>
  <%= @report.contexture %>
</p>

<p>
  <strong>Raza:</strong>
  <%= @report.raza %>
</p>

<p>
  <strong>Colors:</strong>
  <%= @report.colors %>
</p>

<p>
  <strong>Skin:</strong>
  <%= @report.skin %>
</p>

<p>
  <strong>Medical:</strong>
  <%= @report.medical %>
</p>

<p>
  <strong>Med detail:</strong>
  <%= @report.med_detail %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @report.sex %>
</p>

<p>
  <strong>Address:</strong>
  <%= @report.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @report.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @report.longitude %>
</p>

<p>
  <strong>Gmaps:</strong>
  <%= @report.gmaps %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>

<%= gmaps("markers" => {"data" => @json}) %> 
